.my-container {
  display: flex;
  justify-content: center;
}

.my-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.form-container {
  width: 60%;
}

.my-button {
  width: 100%;
}

.my-error {
  width: 100%;
  padding-bottom: 20px;
}